@import './variables';
@import './mixins';

* {
	box-sizing: border-box;
}

body {
	margin: 8px;
}

.route {
	display: flex;
	width: 100%;
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;
	background: gray;

	@include mq(phone) {
		flex-direction: column;
	}

	&__check-points {
		width: 100%;
		max-width: 400px;
		flex-shrink: 0;

		@include mq(phone) {
			max-width: 100%;
		}

		height: 300px;
		background: yellowgreen;
	}

	&__map {
		border: 2px solid $blackColor;
		width: calc(100% - 400px);
		height: 400px;

		@include mq(phone) {
			width: 100%;
		}
	}
}
